# Misc
*.log
*.tlog
*.lastbuildstate
*.ilk
*.pdb
magic.mgc
obj
.codelite

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rpf
/rpf.txt
/rpf.mk
/Makefile
